// Colors
$mainColor: #ff9800;
$secondaryColor: #222;

// Font colors
$mainFontColor: #222;
$whiteFontColor: #fff;

// Font sizes
$logoFontSize: 24px;
$smallFontSize: 12px;

// Fonts weight
$PoppinsLight: 300;
$PoppinsRegular: 400;
$PoppinsMedium: 500;
$PoppinsSemi: 600;
$PoppinsBold: 700;
$PoppinsExtra: 800;
$PoppinsBlack: 900;